.root {
    -fx-background-image: url(../png/ARX/Background_A.png);
    -fx-background-size: 1024 576;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

#launcher-root {
    -fx-background-image: url(../png/Backgrounds/18.png)
}